body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 1.7em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #004080;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background-color: #e6f0ff;
    padding: 60px 20px;
    text-align: center;
}

#services, #about, #contact {
    padding: 40px 20px;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px;
}

